# Javascript
node_modules
dist

# IDE
.vscode
.idea

# Rust
target/

# Java
/java/build/
.gradle/

# Python
__pycache__/
*.py[cod]
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
/python/build/
/python/dist/
*.egg-info/

# perseid
/.perseid/repos/
