# Javascript
node_modules
dist

# PHP
/vendor/
composer.lock
.phpunit.result.cache

# IDE
.vscode
.idea

# Rust
target/

# Java
/java/build/
.gradle/

# Python
__pycache__/
*.py[cod]
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
/python/build/
/python/dist/
*.egg-info/

# Codegen script
/.codegen-tmp/