name: Java Lint

on:
  push:
    branches:
      - main
    paths:
      - 'java/**'
      - 'spec/**'
      - '.github/workflows/java-lint.yml'
  pull_request:
    paths:
      - 'java/**'
      - 'spec/**'
      - '.github/workflows/java-lint.yml'

# When pushing to a PR, cancel any jobs still running for the previous head commit of the PR
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: Java Build & Test
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build
        run: ./gradlew build
        working-directory: java
